* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  background-color: grey;
}

input {
  color: black;
  font-size: medium;
  width: 100%;
}

.card p {
  color: darkblue;
  padding: 5px;
  text-align: center;
}

.card {
  align-content: center;
  border: 1px solid red;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
